## A SCRIPT TO PERFORM SOME DATA CLEANING AND JOINING OUR CSV FILES INTO A SINGLE FILE

### Importing our libraries and modules

In [109]:
import pandas as pd
import glob
import os

### Loading our datasets

In [110]:
simplilearn = pd.read_csv("simplilearn.csv")
moringa = pd.read_csv("oringa-school.csv")
data_school = pd.read_csv("africa-data-school.csv")
dojo = pd.read_csv("data-science-dojo.csv")
hyperion = pd.read_csv("yperion-development-south-africa.csv")
explore = pd.read_csv("explore-datascience.csv")
udacity = pd.read_csv("dacity.csv")
nyc = pd.read_csv("yc-data-science-academy.csv")
getsmarter = pd.read_csv("etsmarter.csv")

### Viewing and cleaning our datasets

#### 1. Simplilearn

In [14]:
simplilearn

,our_competitors,Date_Posted,Media_Type,Post_Caption,Likes_Counts,Comments_Counts,Shared_Counts,total_followers
0,Simplilearn,2022-04-21 18:14:29.784992,"Other: Poll, Shared Post, etc",Pull shot for a six?No Guarantee.But with Simp...,175,2,5,"330,866"
1,Simplilearn,2022-04-25 14:14:29.784992,Image,A 100% job guarantee with the Simplilearn Job ...,14,0,0,"330,866"
2,Simplilearn,2022-04-22 18:14:29.784992,"Other: Poll, Shared Post, etc",What a fantastic end to the week!Here is a sne...,202,1,3,"330,866"
3,Simplilearn,2022-04-21 18:14:29.784992,"Other: Poll, Shared Post, etc",Webinar - Handling Google's Transition to Resp...,73,67,0,"330,866"
4,Simplilearn,2022-04-18 18:14:29.784992,"Other: Poll, Shared Post, etc",Even you would have believed that some of thes...,50,0,0,"330,866"
...,...,...,...,...,...,...,...,...
74,Simplilearn,2021-09-25 18:14:29.784992,"Other: Poll, Shared Post, etc",What a happy moment this! üòç Celebrating all th...,114,4,1,"330,866"
75,Simplilearn,2022-01-25 18:14:29.784992,"Other: Poll, Shared Post, etc",Webinar: Skills to Feed Your Digital Marketing...,121,68,3,"330,866"
76,Simplilearn,2021-09-25 18:14:29.784992,"Other: Poll, Shared Post, etc",The pandemic has significantly shifted a lot o...,48,5,4,"330,866"
77,Simplilearn,2021-09-25 18:14:29.784992,"Other: Poll, Shared Post, etc","Top companies like Amazon, Accenture, and Link...",21,0,0,"330,866"
78,Simplilearn,2022-01-25 18:14:29.784992,"Other: Poll, Shared Post, etc","Alessio Cofone, we‚Äôre so happy to see your lea...",36,0,0,"330,866"

#### 2. Moringa School

In [111]:
moringa

,our_competitors,Date_Posted,Media_Type,Post_Caption,Likes_Counts,Comments_Counts,Shared_Counts,total_followers
0,Moringa School,2022-04-25 09:22:36.569714,Image,Have a superb week.#mondaymotivation #moringas...,55,1,0,"21,464"
1,Moringa School,2022-04-22 18:22:36.569714,Image,What a transformational journey Maryann Mwikal...,35,2,0,"21,464"
2,Moringa School,2022-04-18 18:22:36.569714,Image,Excited to see the progress with our first coh...,36\n\n Chris Achinga and 35 others,0,0,"21,464"
3,Moringa School,2022-04-04 18:22:36.569714,Multiple Images,A journey of a thousand miles begins with 1 st...,49\n\n Chris Achinga and 48 others,3,0,"21,464"
4,Moringa School,2022-04-19 18:22:36.569714,"Other: Poll, Shared Post, etc",A world where anyone can create their future.L...,68,1,1,"21,464"
...,...,...,...,...,...,...,...,...
73,Moringa School,2022-04-25 17:52:36.569714,Article,Moringa School is hiring #ikokazike,24,2,0,"21,464"
74,Moringa School,2022-01-25 18:22:36.569714,Image,How can Africa keep up with the ever-changing ...,48,1,3,"21,464"
75,Moringa School,2021-10-25 18:22:36.569714,Article,Moringa School in partnership with Zindi invit...,35,1,7,"21,464"
76,Moringa School,2021-10-25 18:22:36.569714,Article,#jobalert #ikokazike #jobadvert Moringa School...,46,6,3,"21,464"
77,Moringa School,2021-10-25 18:22:36.569714,Article,Great insights shared in this article: https:/...,5,0,0,"21,464"

The following codeblock is used to create a loop that iterates through our *_"Likes_Counts"_* columns in our moringa dataset and creating a list of the cleaned column and appending it into another empty list.
After such clean up we transform our cleaned column into a dataframe that we uses to replace the values in out original column with the cleaned values

In [112]:
likes = []
m_likes = moringa['Likes_Counts']

for m in m_likes:
    likes.append(m[0:2])

In [113]:
db = pd.DataFrame(likes, columns=["Likes_Counts"])
moringa['Likes_Counts'] = db['Likes_Counts'].values

In [114]:
moringa

,our_competitors,Date_Posted,Media_Type,Post_Caption,Likes_Counts,Comments_Counts,Shared_Counts,total_followers
0,Moringa School,2022-04-25 09:22:36.569714,Image,Have a superb week.#mondaymotivation #moringas...,55,1,0,"21,464"
1,Moringa School,2022-04-22 18:22:36.569714,Image,What a transformational journey Maryann Mwikal...,35,2,0,"21,464"
2,Moringa School,2022-04-18 18:22:36.569714,Image,Excited to see the progress with our first coh...,36,0,0,"21,464"
3,Moringa School,2022-04-04 18:22:36.569714,Multiple Images,A journey of a thousand miles begins with 1 st...,49,3,0,"21,464"
4,Moringa School,2022-04-19 18:22:36.569714,"Other: Poll, Shared Post, etc",A world where anyone can create their future.L...,68,1,1,"21,464"
...,...,...,...,...,...,...,...,...
73,Moringa School,2022-04-25 17:52:36.569714,Article,Moringa School is hiring #ikokazike,24,2,0,"21,464"
74,Moringa School,2022-01-25 18:22:36.569714,Image,How can Africa keep up with the ever-changing ...,48,1,3,"21,464"
75,Moringa School,2021-10-25 18:22:36.569714,Article,Moringa School in partnership with Zindi invit...,35,1,7,"21,464"
76,Moringa School,2021-10-25 18:22:36.569714,Article,#jobalert #ikokazike #jobadvert Moringa School...,46,6,3,"21,464"
77,Moringa School,2021-10-25 18:22:36.569714,Article,Great insights shared in this article: https:/...,5,0,0,"21,464"

In [130]:
moringa.to_csv("moringa.csv", index=False)

#### 3. Africa Data School

In [115]:
data_school

,our_competitors,Date_Posted,Media_Type,Post_Caption,Likes_Counts,Comments_Counts,Shared_Counts,total_followers
0,Africa Data School,2022-03-25 18:20:19.177371,Image,"Kickstart your Career in Finance, Healthcare, ...",3,0,0,546
1,Africa Data School,2022-04-22 18:20:19.177371,Image,The Africa Data School community invites you t...,0,0,0,546
2,Africa Data School,2022-04-21 18:20:19.177371,Image,"""Design doesn‚Äôt mean that every person is gonn...",1,0,0,546
3,Africa Data School,2022-04-20 18:20:19.177371,Image,Gather data from many sources learn to create ...,0,0,0,546
4,Africa Data School,2022-04-20 18:20:19.177371,Image,"Kickstart your Career in Finance, Healthcare, ...",1,0,0,546
5,Africa Data School,2022-04-18 18:20:19.177371,Image,Data Science. The goal is to make data-driven ...,1,0,0,546
6,Africa Data School,2022-04-11 18:20:19.177371,Image,"Graphic design is defined as ""the art and prac...",0,0,0,546
7,Africa Data School,2022-04-11 18:20:19.177371,Image,Data pipelines move data from one source to an...,3,0,0,546
8,Africa Data School,2022-04-18 18:20:19.177371,Image,Data¬†analysis gives you the ability to transfo...,7,0,0,546
9,Africa Data School,2022-04-04 18:20:19.177371,Image,‚ÄúThe key challenge of future artificial intell...,1,0,0,546
10,Africa Data School,2022-04-04 18:20:19.177371,Image,What is¬†Data¬†Visualization¬†With¬†Tableau?Data¬†V...,0,0,0,546
11,Africa Data School,2022-04-04 18:20:19.177371,Image,Data sorting is any process that involves arra...,0,0,0,546
12,Africa Data School,2022-04-04 18:20:19.177371,Image,Your website is the center of your digital eco...,0,0,0,546
13,Africa Data School,2022-03-25 18:20:19.177371,Image,Data exploration is the initial step in data a...,0,0,0,546
14,Africa Data School,2022-03-25 18:20:19.177371,Image,"Data preparation can involve cleansing, aggreg...",0,0,0,546
15,Africa Data School,2022-03-25 18:20:19.177371,Image,A¬†cross-platform¬†app¬†development¬†framework is ...,2,0,0,546
16,Africa Data School,2022-03-25 18:20:19.177371,Image,Web Development is the work involved with buil...,0,0,0,546
17,Africa Data School,2022-03-25 18:20:19.177371,Image,Web Development frameworks are created by Deve...,1,0,0,546
18,Africa Data School,2022-03-25 18:20:19.177371,Image,Web development is the work involved in develo...,2,0,0,546
19,Africa Data School,2022-03-25 18:20:19.177371,Image,"Build a Career in Finance, Healthcare, Data Sc...",5,1,0,546
20,Africa Data School,2022-03-25 18:20:19.177371,Image,A¬†front¬†end¬†developer is responsible for bring...,0,0,0,546
21,Africa Data School,2021-11-25 18:20:19.177371,Image,Congratulations,5,0,0,546
22,Africa Data School,2021-12-25 18:20:19.177371,"Other: Poll, Shared Post, etc","What is CNC programming? CNC programming, or c...",1,0,0,546
23,Africa Data School,2022-03-25 18:20:19.177371,Image,‚ÄúA successful website does three things:It att...,1,0,0,546
24,Africa Data School,2021-11-25 18:20:19.177371,"Other: Poll, Shared Post, etc",Data Evaluation is a process that critically e...,0,0,0,546
25,Africa Data School,2021-11-25 18:20:19.177371,"Other: Poll, Shared Post, etc","Robotics involves design, construction, operat...",1,0,0,546
26,Africa Data School,2022-03-25 18:20:19.177371,Image,Become a web developer. Learn how to use React...,0,0,0,546
27,Africa Data School,2022-02-25 18:20:19.177371,Image,What Is Variance?The term variance refers to a...,1,0,0,546
28,Africa Data School,2022-02-25 18:20:19.177371,Image,"A mobile app developer designs, creates, and u...",2,0,0,546
29,Africa Data School,2022-03-25 18:20:19.177371,Image,A¬†front¬†end¬†developer responsibility: Ensure t...,3,0,0,546
30,Africa Data School,2022-02-25 18:20:19.177371,Image,"Build a Career in Finance, Healthcare, Data Sc...",1,0,0,546
31,Africa Data School,2021-09-25 18:20:19.177371,"Other: Poll, Shared Post, etc",Become a Data ScientistJoin the most practical...,3,0,0,546
32,Africa Data School,2022-02-25 18:20:19.177371,Image,Data visualizationused for demonstrating perfo...,0,0,0,546
33,Africa Data School,2022-02-25 18:20:19.177371,Image,"Data strategy it refers to the tools, processe...",1,0,0,546
34,Africa Data School,2021-07-25 18:20:19.177371,"Other: Poll, Shared Post, etc",The application of artificial intelligence to ...,1,0,0,546
35,Africa Data School,2022-02-25 18:20:19.177371,Image,Ensemble learningIn statistics and machine lea...,0,0,0,546
36,Africa Data School,2021-07-25 18:20:19.177371,"Other: Poll, Shared Post, etc",Neural network simulation.Neural networks rely...,0,0,0,546
37,Africa Data School,2022-04-25 17:50:19.177371,"Other: Poll, Shared Post, etc",Check out this @Meetup with Africa Data school...,0,0,0,546
38,Africa Data School,2022-01-25 18:20:19.177371,Article,Check out this Meetup: Africa Data School Virt...,2,0,0,546
39,Africa Data School,2022-01-25 18:20:19.177371,Article,Checkout this Meetup with Africa Data school M...,0,0,0,546
40,Africa Data School,2022-01-25 18:20:19.177371,Article,Machine Programming: What Lies Ahead? https://...,0,0,0,546
41,Africa Data School,2022-04-25 17:50:19.177371,"Other: Poll, Shared Post, etc",Join the most practical Data school in Africa....,0,0,0,546
42,Africa Data School,2021-12-25 18:20:19.177371,Article,Checkout this Meetup with Africa Data school M...,1,0,0,546
43,Africa Data School,2022-01-25 18:20:19.177371,Article,For getting success in a business with Data Sc...,0,0,0,546
44,Africa Data School,2022-01-25 18:20:19.177371,Image,"Artificial neural networks, they attempt to mi...",2,0,0,546
45,Africa Data School,2022-01-25 18:20:19.177371,Image,We are looking at a society increasingly depen...,0,0,0,546
46,Africa Data School,2022-02-25 18:20:19.177371,Image,machine learning model is a file that has been...,1,0,0,546
47,Africa Data School,2022-01-25 18:20:19.177371,Image,#DataScientist is trained to identify data tha...,2,0,0,546
48,Africa Data School,2022-01-25 18:20:19.177371,Article,Data science is a process that involves numero...,2,0,0,546
49,Africa Data School,2022-01-25 18:20:19.177371,Image,"Build a Career in Finance, Healthcare, Data Sc...",6,0,0,546
50,Africa Data School,2021-12-25 18:20:19.177371,Article,How Do We Represent Data For Neural Networks? ...,0,0,0,546
51,Africa Data School,2021-11-25 18:20:19.177371,Article,Data Science vs Data Analytics‚Ää‚Äî‚ÄäHow to decide...,0,0,0,546
52,Africa Data School,2022-02-25 18:20:19.177371,Image,Scatter plots: These visuals are beneficial in...,2,0,0,546
53,Africa Data School,2022-01-25 18:20:19.177371,Image,Python is used for automated file management -...,0,0,0,546
54,Africa Data School,2022-01-25 18:20:19.177371,Image,Mobile app¬†development¬†refers to the creation ...,1,0,0,546
55,Africa Data School,2022-01-25 18:20:19.177371,Image,Comments in your Code.It is programmer-readabl...,1,0,0,546
56,Africa Data School,2022-04-25 17:50:19.177371,Multiple Images,well said,6,0,0,546
57,Africa Data School,2021-10-25 18:20:19.177371,Article,We‚Äôve just updated our Page. Visit our Page to...,1,0,0,546
58,Africa Data School,2022-01-25 18:20:19.177371,Image,Hyperparameters are adjustable parameters that...,0,0,0,546

#### 4. Data Science Dojo

In [116]:
dojo

,our_competitors,Date_Posted,Media_Type,Post_Caption,Likes_Counts,Comments_Counts,Shared_Counts,total_followers
0,Data Science Dojo,2022-04-23 18:25:11.516221,"Other: Poll, Shared Post, etc","Our speaker, Ian Eisenberg is hosting a webina...",1,0,0,"184,110"
1,Data Science Dojo,2022-04-25 17:55:11.516221,Image,üí• A glimpse of how k-means clustering work! So...,502,4,39,"184,110"
2,Data Science Dojo,2022-04-25 17:55:11.516221,Image,üìç TextData simplifies exploratory data analysi...,56,0,0,"184,110"
3,Data Science Dojo,2022-04-25 17:55:11.516221,Image,"üî• Get started with data science now, we have 1...",15,0,0,"184,110"
4,Data Science Dojo,2022-04-25 17:55:11.516221,Image,‚úîÔ∏è Want to learn C# Language Integrated Query ...,12,0,0,"184,110"
...,...,...,...,...,...,...,...,...
162,Data Science Dojo,2022-04-04 18:25:11.516221,Image,"üëÄ All companies are in the ""behavior change"" ...",12,0,0,"184,110"
163,Data Science Dojo,2022-03-25 18:25:11.516221,"Other: Poll, Shared Post, etc",üí• Some Matlab tips.#Matlab #DataScience #Tips,99,0,0,"184,110"
164,Data Science Dojo,2022-04-18 18:25:11.516221,Youtube Video,üìç This video talks about some common ways of i...,3,0,0,"184,110"
165,Data Science Dojo,2022-04-18 18:25:11.516221,Article,üëâ Learn how to build a recommendation engine i...,85,4,6,"184,110"
166,Data Science Dojo,2022-03-25 18:25:11.516221,Image,üí° A glimpse of Python string methods!#Python #...,253,4,27,"184,110"

#### 5 . Hyperion Development School

In [117]:
hyperion

,our_competitors,Date_Posted,Media_Type,Post_Caption,Likes_Counts,Comments_Counts,Shared_Counts,total_followers
0,HyperionDev,2021-10-25 18:18:06.417603,"Other: Poll, Shared Post, etc","If you could change the world, how would you d...",28,0,0,"6,317"
1,HyperionDev,2022-04-20 18:18:06.417603,Image,"Our courses are accessible and effective, & ou...",2,0,0,"6,317"
2,HyperionDev,2022-04-20 18:18:06.417603,Image,Reward your excellence and get accreditedüèÖRegi...,2,0,0,"6,317"
3,HyperionDev,2022-04-18 18:18:06.417603,Image,üì¢ Calling all employers üì¢ HyperionDev‚Äôs new L...,7,0,0,"6,317"
4,HyperionDev,2022-04-18 18:18:06.417603,Image,"Congrats, Danny Kahts üí™",0,0,0,"6,317"
...,...,...,...,...,...,...,...,...
191,HyperionDev,2022-04-25 17:48:06.417603,Image,We are officially launching a HyperionDev Alum...,12,0,0,"6,317"
192,HyperionDev,2022-04-25 17:48:06.417603,Image,A big congratulations to Tevin who joined us f...,22,2,1,"6,317"
193,HyperionDev,2022-04-25 17:48:06.417603,Image,Our dedicated team of coding mentors ensure th...,5,0,0,"6,317"
194,HyperionDev,2022-04-25 17:48:06.417603,Image,"""Chanelle always puts in amazing effort into e...",25,1,0,"6,317"
195,HyperionDev,2022-04-25 17:48:06.417603,Image,We're excited to announce that we have selecte...,32,1,3,"6,317"

#### 6. Explore Data Science Academy

In [24]:
explore

,our_competitors,Date_Posted,Media_Type,Post_Caption,Likes_Counts,Comments_Counts,Shared_Counts,total_followers
0,EXPLORE Data Science Academy,2022-04-18 18:11:16.549970,Image,Admissions are open for our career- and life-c...,55\n\n Carmen Lewis and 54 others,0,0,"6,909"
1,EXPLORE Data Science Academy,2022-04-25 15:11:16.549970,Image,SQL commands are mainly grouped into four cate...,15,0,0,"6,909"
2,EXPLORE Data Science Academy,2022-04-22 18:11:16.549970,"Other: Poll, Shared Post, etc",There are numerous career options to choose fr...,17,1,0,"6,909"
3,EXPLORE Data Science Academy,2022-04-20 18:11:16.549970,Image,SQL is an essential skill among data professio...,56,1,0,"6,909"
4,EXPLORE Data Science Academy,2022-04-21 18:11:16.549970,"Other: Poll, Shared Post, etc",Want to learn how to write a basic SQL query? ...,25,0,0,"6,909"
5,EXPLORE Data Science Academy,2022-04-11 18:11:16.549970,"Other: Poll, Shared Post, etc",Plotly stands out from other Python visualisat...,29\n\n Carmen Lewis and 28 others,2,0,"6,909"
6,EXPLORE Data Science Academy,2022-04-18 18:11:16.549970,Youtube Video,"Want to learn more about our CEO, shaun dippna...",3,0,0,"6,909"
7,EXPLORE Data Science Academy,2022-04-11 18:11:16.549970,"Other: Poll, Shared Post, etc",Seaborn is next in line. Here is another quick...,21\n\n Carmen Lewis and 20 others,0,0,"6,909"
8,EXPLORE Data Science Academy,2022-04-18 18:11:16.549970,Image,"Over the past few years, various banks have pa...",137\n\n You and 136 others,3,12,"6,909"
9,EXPLORE Data Science Academy,2022-04-04 18:11:16.549970,Image,Data visualisation is vital in gathering insig...,29\n\n Viwe Mqaqa and 28 others,5,2,"6,909"
10,EXPLORE Data Science Academy,2022-03-25 18:11:16.549970,Image,Make sure not to miss out on this opportunity ...,55\n\n You and 54 others,0,0,"6,909"
11,EXPLORE Data Science Academy,2022-04-11 18:11:16.549970,"Other: Poll, Shared Post, etc",Creating visualisations with Python is easier ...,30\n\n Carmen Lewis and 29 others,0,0,"6,909"
12,EXPLORE Data Science Academy,2022-04-04 18:11:16.549970,Image,Here's some exciting news: BCX has committed t...,110\n\n You and 109 others,5,8,"6,909"
13,EXPLORE Data Science Academy,2022-02-25 18:11:16.549970,"Other: Poll, Shared Post, etc",DAX is what makes Power BI so powerful!It is n...,26,0,0,"6,909"
14,EXPLORE Data Science Academy,2022-03-25 18:11:16.549970,Image,Comparison operators form an integral part of ...,7,0,0,"6,909"
15,EXPLORE Data Science Academy,2022-01-25 18:11:16.549970,"Other: Poll, Shared Post, etc",You have the option to choose between a Data S...,17\n\n Zintle Faltein-Maqubela ...,0,0,"6,909"
16,EXPLORE Data Science Academy,2022-01-25 18:11:16.549970,"Other: Poll, Shared Post, etc",There is just more than a week remaining to en...,34,0,0,"6,909"
17,EXPLORE Data Science Academy,2022-03-25 18:11:16.549970,Image,"When creating flowcharts, each symbol used has...",19,0,0,"6,909"
18,EXPLORE Data Science Academy,2022-03-25 18:11:16.549970,Image,Pseudocode and flowcharts are excellent aids i...,9,0,0,"6,909"
19,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,"Other: Poll, Shared Post, etc",DAX or Data Analysis Expressions is a powerful...,34,0,0,"6,909"
20,EXPLORE Data Science Academy,2022-03-25 18:11:16.549970,Youtube Video,"So, what's your thing?https://lnkd.in/e6BtUbQR",13,1,2,"6,909"
21,EXPLORE Data Science Academy,2022-03-25 18:11:16.549970,Article,We are proud to be sponsoring UmojaHack Africa...,28\n\n Carmen Lewis and 27 others,0,0,"6,909"
22,EXPLORE Data Science Academy,2022-02-25 18:11:16.549970,Image,Our students are setting up Anaconda and start...,39\n\n Malibongwe Shange and 38...,1,2,"6,909"
23,EXPLORE Data Science Academy,2022-02-25 18:11:16.549970,Image,Notebooks are one of the most popular tools da...,41\n\n Maryam Hassan and 40 others,1,5,"6,909"
24,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,"Other: Poll, Shared Post, etc",EXPLORE is looking for a few talented individu...,31,0,0,"6,909"
25,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,"Other: Poll, Shared Post, etc","In 2020, Python was the most popular data scie...",32,0,0,"6,909"
26,EXPLORE Data Science Academy,2022-02-25 18:11:16.549970,Image,The data from 2021 shows that Python is the mo...,40\n\n Malibongwe Shange and 39...,0,0,"6,909"
27,EXPLORE Data Science Academy,2022-02-25 18:11:16.549970,Image,"Now that you know how to use data in Power BI,...",37\n\n Carmen Lewis and 36 others,0,0,"6,909"
28,EXPLORE Data Science Academy,2021-12-25 18:11:16.549970,Youtube Video,Watch our latest video that shares what we do:...,21,0,0,"6,909"
29,EXPLORE Data Science Academy,2022-01-25 18:11:16.549970,Article,Cloud computing is one of the most in-demand t...,52\n\n Viwe Mqaqa and 51 others,0,0,"6,909"
30,EXPLORE Data Science Academy,2022-02-25 18:11:16.549970,Image,Want to join our team in creating amazing cont...,23\n\n Maryam Hassan and 22 others,0,0,"6,909"
31,EXPLORE Data Science Academy,2022-01-25 18:11:16.549970,Article,"Select the course that fits your interest, sch...",13,0,0,"6,909"
32,EXPLORE Data Science Academy,2022-01-25 18:11:16.549970,Article,Still on the fence if you should enrol in our ...,22\n\n Malibongwe Shange and 21...,0,0,"6,909"
33,EXPLORE Data Science Academy,2022-01-25 18:11:16.549970,Article,Two weeks left to register for our immersive D...,15,0,0,"6,909"
34,EXPLORE Data Science Academy,2022-02-25 18:11:16.549970,Image,Our students have moved on to learning the nex...,28\n\n Kgotso Phela and 27 others,0,0,"6,909"
35,EXPLORE Data Science Academy,2022-02-25 18:11:16.549970,Image,"In Power BI Desktop, you have the functionalit...",29\n\n Zintle Faltein-Maqubela ...,0,0,"6,909"
36,EXPLORE Data Science Academy,2021-11-25 18:11:16.549970,Article,If only there were one place you could search ...,20,0,0,"6,909"
37,EXPLORE Data Science Academy,2022-01-25 18:11:16.549970,Image,Our courses are designed to make our students ...,54\n\n Malibongwe Shange and 53...,0,0,"6,909"
38,EXPLORE Data Science Academy,2022-01-25 18:11:16.549970,Image,Welcome to all the students who enrolled for o...,72\n\n Viwe Mqaqa and 71 others,3,0,"6,909"
39,EXPLORE Data Science Academy,2021-08-25 18:11:16.549970,Youtube Video,We're excited to be launching our EXPLORE Acce...,37,11,5,"6,909"
40,EXPLORE Data Science Academy,2021-10-25 18:11:16.549970,Article,"As elections are a hot topic this week, let's ...",38,0,0,"6,909"
41,EXPLORE Data Science Academy,2022-01-25 18:11:16.549970,Image,One week to go until our part-time 2022 course...,92\n\n Palesa Kheswa and 91 others,6,12,"6,909"
42,EXPLORE Data Science Academy,2022-01-25 18:11:16.549970,Image,"Mathematics, statistics and programming are th...",76,4,9,"6,909"
43,EXPLORE Data Science Academy,2021-09-25 18:11:16.549970,Article,Jupyter Notebooks are one of the most popular ...,30,0,0,"6,909"
44,EXPLORE Data Science Academy,2021-09-25 18:11:16.549970,Article,Data scientists use notebooks to explore and a...,30,0,0,"6,909"
45,EXPLORE Data Science Academy,2021-07-25 18:11:16.549970,Article,Machine learning pipelines are vital to automa...,11,0,0,"6,909"
46,EXPLORE Data Science Academy,2021-08-25 18:11:16.549970,Article,See how we're innovating to help find then fun...,12,1,0,"6,909"
47,EXPLORE Data Science Academy,2021-08-25 18:11:16.549970,Article,If you ever wanted a machine learning crash co...,17,0,0,"6,909"
48,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,Youtube Video,During the month of May we have posted quite a...,9,0,0,"6,909"
49,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,Youtube Video,Are you ready to dive into Neural Networks aft...,11,0,0,"6,909"
50,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,Article,The news is spreading all over Africa. Read ab...,27,0,0,"6,909"
51,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,Article,Often we can find learning a new field dauntin...,13,1,1,"6,909"
52,EXPLORE Data Science Academy,2021-11-25 18:11:16.549970,Image,Advent of Code is the perfect way to improve y...,16,0,0,"6,909"
53,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,Article,You can listen to the part on Explore Data Sci...,8,1,0,"6,909"
54,EXPLORE Data Science Academy,2021-07-25 18:11:16.549970,Image,"There is so much to learn with data science, a...",25,0,0,"6,909"
55,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,Image,There are numerous data science resources avai...,13,3,1,"6,909"
56,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,Image,We often use the ROC curve and AUC as an evalu...,25,2,2,"6,909"
57,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,Image,"This website (https://lnkd.in/ebJR93x), by¬†Afs...",28,2,1,"6,909"
58,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,Image,"If you are new to machine learning, this is an...",8,0,0,"6,909"
59,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,Image,Explore Data Science Academy will be part of t...,22,1,1,"6,909"

The following codeblock is used to create a loop that iterates through our "Likes_Counts" columns in our moringa dataset and creating a list of the cleaned column and appending it into another empty list. After such clean up we transform our cleaned column into a dataframe that we uses to replace the values in out original column with the cleaned values

In [120]:
liked = []
m_liked = explore['Likes_Counts']

for e in m_liked:
    liked.append(e[0:2])

In [121]:
dc = pd.DataFrame(liked, columns=["Likes_Counts"])
explore['Likes_Counts'] = dc['Likes_Counts'].values

In [89]:
explore

,our_competitors,Date_Posted,Media_Type,Post_Caption,Likes_Counts,Comments_Counts,Shared_Counts,total_followers
0,EXPLORE Data Science Academy,2022-04-18 18:11:16.549970,Image,Admissions are open for our career- and life-c...,55,0,0,"6,909"
1,EXPLORE Data Science Academy,2022-04-25 15:11:16.549970,Image,SQL commands are mainly grouped into four cate...,15,0,0,"6,909"
2,EXPLORE Data Science Academy,2022-04-22 18:11:16.549970,"Other: Poll, Shared Post, etc",There are numerous career options to choose fr...,17,1,0,"6,909"
3,EXPLORE Data Science Academy,2022-04-20 18:11:16.549970,Image,SQL is an essential skill among data professio...,56,1,0,"6,909"
4,EXPLORE Data Science Academy,2022-04-21 18:11:16.549970,"Other: Poll, Shared Post, etc",Want to learn how to write a basic SQL query? ...,25,0,0,"6,909"
5,EXPLORE Data Science Academy,2022-04-11 18:11:16.549970,"Other: Poll, Shared Post, etc",Plotly stands out from other Python visualisat...,29,2,0,"6,909"
6,EXPLORE Data Science Academy,2022-04-18 18:11:16.549970,Youtube Video,"Want to learn more about our CEO, shaun dippna...",3,0,0,"6,909"
7,EXPLORE Data Science Academy,2022-04-11 18:11:16.549970,"Other: Poll, Shared Post, etc",Seaborn is next in line. Here is another quick...,21,0,0,"6,909"
8,EXPLORE Data Science Academy,2022-04-18 18:11:16.549970,Image,"Over the past few years, various banks have pa...",13,3,12,"6,909"
9,EXPLORE Data Science Academy,2022-04-04 18:11:16.549970,Image,Data visualisation is vital in gathering insig...,29,5,2,"6,909"
10,EXPLORE Data Science Academy,2022-03-25 18:11:16.549970,Image,Make sure not to miss out on this opportunity ...,55,0,0,"6,909"
11,EXPLORE Data Science Academy,2022-04-11 18:11:16.549970,"Other: Poll, Shared Post, etc",Creating visualisations with Python is easier ...,30,0,0,"6,909"
12,EXPLORE Data Science Academy,2022-04-04 18:11:16.549970,Image,Here's some exciting news: BCX has committed t...,11,5,8,"6,909"
13,EXPLORE Data Science Academy,2022-02-25 18:11:16.549970,"Other: Poll, Shared Post, etc",DAX is what makes Power BI so powerful!It is n...,26,0,0,"6,909"
14,EXPLORE Data Science Academy,2022-03-25 18:11:16.549970,Image,Comparison operators form an integral part of ...,7,0,0,"6,909"
15,EXPLORE Data Science Academy,2022-01-25 18:11:16.549970,"Other: Poll, Shared Post, etc",You have the option to choose between a Data S...,17,0,0,"6,909"
16,EXPLORE Data Science Academy,2022-01-25 18:11:16.549970,"Other: Poll, Shared Post, etc",There is just more than a week remaining to en...,34,0,0,"6,909"
17,EXPLORE Data Science Academy,2022-03-25 18:11:16.549970,Image,"When creating flowcharts, each symbol used has...",19,0,0,"6,909"
18,EXPLORE Data Science Academy,2022-03-25 18:11:16.549970,Image,Pseudocode and flowcharts are excellent aids i...,9,0,0,"6,909"
19,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,"Other: Poll, Shared Post, etc",DAX or Data Analysis Expressions is a powerful...,34,0,0,"6,909"
20,EXPLORE Data Science Academy,2022-03-25 18:11:16.549970,Youtube Video,"So, what's your thing?https://lnkd.in/e6BtUbQR",13,1,2,"6,909"
21,EXPLORE Data Science Academy,2022-03-25 18:11:16.549970,Article,We are proud to be sponsoring UmojaHack Africa...,28,0,0,"6,909"
22,EXPLORE Data Science Academy,2022-02-25 18:11:16.549970,Image,Our students are setting up Anaconda and start...,39,1,2,"6,909"
23,EXPLORE Data Science Academy,2022-02-25 18:11:16.549970,Image,Notebooks are one of the most popular tools da...,41,1,5,"6,909"
24,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,"Other: Poll, Shared Post, etc",EXPLORE is looking for a few talented individu...,31,0,0,"6,909"
25,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,"Other: Poll, Shared Post, etc","In 2020, Python was the most popular data scie...",32,0,0,"6,909"
26,EXPLORE Data Science Academy,2022-02-25 18:11:16.549970,Image,The data from 2021 shows that Python is the mo...,40,0,0,"6,909"
27,EXPLORE Data Science Academy,2022-02-25 18:11:16.549970,Image,"Now that you know how to use data in Power BI,...",37,0,0,"6,909"
28,EXPLORE Data Science Academy,2021-12-25 18:11:16.549970,Youtube Video,Watch our latest video that shares what we do:...,21,0,0,"6,909"
29,EXPLORE Data Science Academy,2022-01-25 18:11:16.549970,Article,Cloud computing is one of the most in-demand t...,52,0,0,"6,909"
30,EXPLORE Data Science Academy,2022-02-25 18:11:16.549970,Image,Want to join our team in creating amazing cont...,23,0,0,"6,909"
31,EXPLORE Data Science Academy,2022-01-25 18:11:16.549970,Article,"Select the course that fits your interest, sch...",13,0,0,"6,909"
32,EXPLORE Data Science Academy,2022-01-25 18:11:16.549970,Article,Still on the fence if you should enrol in our ...,22,0,0,"6,909"
33,EXPLORE Data Science Academy,2022-01-25 18:11:16.549970,Article,Two weeks left to register for our immersive D...,15,0,0,"6,909"
34,EXPLORE Data Science Academy,2022-02-25 18:11:16.549970,Image,Our students have moved on to learning the nex...,28,0,0,"6,909"
35,EXPLORE Data Science Academy,2022-02-25 18:11:16.549970,Image,"In Power BI Desktop, you have the functionalit...",29,0,0,"6,909"
36,EXPLORE Data Science Academy,2021-11-25 18:11:16.549970,Article,If only there were one place you could search ...,20,0,0,"6,909"
37,EXPLORE Data Science Academy,2022-01-25 18:11:16.549970,Image,Our courses are designed to make our students ...,54,0,0,"6,909"
38,EXPLORE Data Science Academy,2022-01-25 18:11:16.549970,Image,Welcome to all the students who enrolled for o...,72,3,0,"6,909"
39,EXPLORE Data Science Academy,2021-08-25 18:11:16.549970,Youtube Video,We're excited to be launching our EXPLORE Acce...,37,11,5,"6,909"
40,EXPLORE Data Science Academy,2021-10-25 18:11:16.549970,Article,"As elections are a hot topic this week, let's ...",38,0,0,"6,909"
41,EXPLORE Data Science Academy,2022-01-25 18:11:16.549970,Image,One week to go until our part-time 2022 course...,92,6,12,"6,909"
42,EXPLORE Data Science Academy,2022-01-25 18:11:16.549970,Image,"Mathematics, statistics and programming are th...",76,4,9,"6,909"
43,EXPLORE Data Science Academy,2021-09-25 18:11:16.549970,Article,Jupyter Notebooks are one of the most popular ...,30,0,0,"6,909"
44,EXPLORE Data Science Academy,2021-09-25 18:11:16.549970,Article,Data scientists use notebooks to explore and a...,30,0,0,"6,909"
45,EXPLORE Data Science Academy,2021-07-25 18:11:16.549970,Article,Machine learning pipelines are vital to automa...,11,0,0,"6,909"
46,EXPLORE Data Science Academy,2021-08-25 18:11:16.549970,Article,See how we're innovating to help find then fun...,12,1,0,"6,909"
47,EXPLORE Data Science Academy,2021-08-25 18:11:16.549970,Article,If you ever wanted a machine learning crash co...,17,0,0,"6,909"
48,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,Youtube Video,During the month of May we have posted quite a...,9,0,0,"6,909"
49,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,Youtube Video,Are you ready to dive into Neural Networks aft...,11,0,0,"6,909"
50,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,Article,The news is spreading all over Africa. Read ab...,27,0,0,"6,909"
51,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,Article,Often we can find learning a new field dauntin...,13,1,1,"6,909"
52,EXPLORE Data Science Academy,2021-11-25 18:11:16.549970,Image,Advent of Code is the perfect way to improve y...,16,0,0,"6,909"
53,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,Article,You can listen to the part on Explore Data Sci...,8,1,0,"6,909"
54,EXPLORE Data Science Academy,2021-07-25 18:11:16.549970,Image,"There is so much to learn with data science, a...",25,0,0,"6,909"
55,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,Image,There are numerous data science resources avai...,13,3,1,"6,909"
56,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,Image,We often use the ROC curve and AUC as an evalu...,25,2,2,"6,909"
57,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,Image,"This website (https://lnkd.in/ebJR93x), by¬†Afs...",28,2,1,"6,909"
58,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,Image,"If you are new to machine learning, this is an...",8,0,0,"6,909"
59,EXPLORE Data Science Academy,2022-04-25 17:41:16.549970,Image,Explore Data Science Academy will be part of t...,22,1,1,"6,909"

In [131]:
explore.to_csv("edsa.csv", index=False)

#### 7. Udacity

In [122]:
udacity

,our_competitors,Date_Posted,Media_Type,Post_Caption,Likes_Counts,Comments_Counts,Shared_Counts,total_followers
0,Udacity,2022-04-23 18:32:40.769565,"Other: Poll, Shared Post, etc",What are the 5 most essential things tech comp...,56,2,4,"340,901"
1,Udacity,2022-04-20 18:32:40.769565,"Other: Poll, Shared Post, etc",3 Reasons Why Your Company Should Hire From Wi...,86,0,0,"340,901"
2,Udacity,2022-04-21 18:32:40.769565,"Other: Poll, Shared Post, etc",5 Reasons to Learn New Skills Online through U...,91,3,5,"340,901"
3,Udacity,2022-04-11 18:32:40.769565,"Other: Poll, Shared Post, etc",Seth Godin taught us that in order to be a suc...,17,0,0,"340,901"
4,Udacity,2022-04-19 18:32:40.769565,Image,Cognizant & #Udacity are offering scholarships...,111,3,13,"340,901"
...,...,...,...,...,...,...,...,...
69,Udacity,2022-03-25 18:32:40.769565,Article,What is Upskilling? #Upskilling is a process b...,70,0,0,"340,901"
70,Udacity,2022-03-25 18:32:40.769565,Article,With 1.7 open positions for each of the 6.5 mi...,19,0,0,"340,901"
71,Udacity,2021-11-25 18:32:40.769565,"Other: Poll, Shared Post, etc","""There are tons of learning opportunities. Jus...",28,1,0,"340,901"
72,Udacity,2022-02-25 18:32:40.769565,Article,It‚Äôs important to understand the consequences ...,31,1,2,"340,901"
73,Udacity,2021-10-25 18:32:40.769565,"Other: Poll, Shared Post, etc",Sonja Galkin speaks about her role as a #DevOp...,23,0,0,"340,901"

#### 8. NYC

In [123]:
nyc

,our_competitors,Date_Posted,Media_Type,Post_Caption,Likes_Counts,Comments_Counts,Shared_Counts,total_followers
0,NYC Data Science Academy,2022-04-25 17:27:17.337329,Image,Sign up now to watch one of our free webinars ...,0,0,0,"7,187"
1,NYC Data Science Academy,2022-04-24 18:27:17.337329,Image,NYC Data Science Academy has launched a new co...,0,0,0,"7,187"
2,NYC Data Science Academy,2022-04-18 18:27:17.337329,Image,Check out one of our student‚Äôs projects: Netfl...,1,0,0,"7,187"
3,NYC Data Science Academy,2022-04-18 18:27:17.337329,Image,Another wonderful feedback from a NYC Data Sci...,3,0,0,"7,187"
4,NYC Data Science Academy,2022-04-18 18:27:17.337329,Image,"After 9 years, NYC Data Science Academy has co...",48,1,0,"7,187"
...,...,...,...,...,...,...,...,...
130,NYC Data Science Academy,2022-01-25 18:27:17.337329,Image,Danli Zeng is a NYC Data Science alumna who no...,1,0,0,"7,187"
131,NYC Data Science Academy,2021-12-25 18:27:17.337329,Image,Today is the last day to apply for our Data Sc...,4,0,0,"7,187"
132,NYC Data Science Academy,2022-04-25 17:57:17.337329,Youtube Video,"""Slow and Steady wins the Race"" üí™Hear our NYCD...",2,0,0,"7,187"
133,NYC Data Science Academy,2021-09-25 18:27:17.337329,Article,Want to kickstart your data science career? Ch...,4,0,0,"7,187"
134,NYC Data Science Academy,2021-12-25 18:27:17.337329,Image,Do you enjoy watching professional gamers comp...,3,0,0,"7,187"

#### 9. Getsmarter

In [124]:
getsmarter

,our_competitors,Date_Posted,Media_Type,Post_Caption,Likes_Counts,Comments_Counts,Shared_Counts,total_followers
0,GetSmarter,2022-02-25 18:35:36.579528,Image,Does your current career plan address challeng...,19,0,0,"234,404"
1,GetSmarter,2022-04-25 12:35:36.579528,Image,The time for change is now. Enhance your busin...,5,0,0,"234,404"
2,GetSmarter,2022-04-21 18:35:36.579528,Image,Why are some nations wealthy while others rema...,5,0,0,"234,404"
3,GetSmarter,2022-04-22 18:35:36.579528,Image,How are fintech innovations impacting your con...,5,1,0,"234,404"
4,GetSmarter,2022-04-21 18:35:36.579528,Image,"As a speaker, coach, and course creator, Simon...",4,0,0,"234,404"
...,...,...,...,...,...,...,...,...
88,GetSmarter,2022-02-25 18:35:36.579528,Image,Do you know how to effectively utilise fintech...,4,0,0,"234,404"
89,GetSmarter,2021-08-25 18:35:36.579528,"Other: Poll, Shared Post, etc",Discover the potential for robots to improve q...,2,0,0,"234,404"
90,GetSmarter,2021-08-25 18:35:36.579528,"Other: Poll, Shared Post, etc",Uncover the impact of global agriculture trend...,2,0,0,"234,404"
91,GetSmarter,2021-07-25 18:35:36.579528,"Other: Poll, Shared Post, etc",Explore the value of traceability in sustainab...,4,0,0,"234,404"
92,GetSmarter,2021-07-25 18:35:36.579528,"Other: Poll, Shared Post, etc","Dina Katabi, Guest Expert in the Artificial In...",8,1,1,"234,404"

## Combining our *_CSV_* files into a single file known as combined_linked_data.csv

In [128]:
os.chdir("csv")

In [107]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [108]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_linkedin_data.csv", index=False, encoding='utf-8-sig')

### Viewing our combined converted files

In [135]:
df = pd.read_csv("combined_linkedin_data.csv")
df

,our_competitors,Date_Posted,Media_Type,Post_Caption,Likes_Counts,Comments_Counts,Shared_Counts,total_followers
0,Africa Data School,2022-03-25 18:20:19.177371,Image,"Kickstart your Career in Finance, Healthcare, ...",3,0,0,546
1,Africa Data School,2022-04-22 18:20:19.177371,Image,The Africa Data School community invites you t...,0,0,0,546
2,Africa Data School,2022-04-21 18:20:19.177371,Image,"""Design doesn‚Äôt mean that every person is gonn...",1,0,0,546
3,Africa Data School,2022-04-20 18:20:19.177371,Image,Gather data from many sources learn to create ...,0,0,0,546
4,Africa Data School,2022-04-20 18:20:19.177371,Image,"Kickstart your Career in Finance, Healthcare, ...",1,0,0,546
...,...,...,...,...,...,...,...,...
936,HyperionDev,2022-04-25 17:48:06.417603,Image,We are officially launching a HyperionDev Alum...,12,0,0,"6,317"
937,HyperionDev,2022-04-25 17:48:06.417603,Image,A big congratulations to Tevin who joined us f...,22,2,1,"6,317"
938,HyperionDev,2022-04-25 17:48:06.417603,Image,Our dedicated team of coding mentors ensure th...,5,0,0,"6,317"
939,HyperionDev,2022-04-25 17:48:06.417603,Image,"""Chanelle always puts in amazing effort into e...",25,1,0,"6,317"
940,HyperionDev,2022-04-25 17:48:06.417603,Image,We're excited to announce that we have selecte...,32,1,3,"6,317"